@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
    padding-top: 1rem;
    background-color: $footer;
}

.contact-box {
    position: relative;

    &__icon {
        width: 2rem;
        stroke: $primary;
        padding-top: 0.5rem;
        
        @include media-breakpoint-up(lg) {
            width: 4rem;
        }
    }

    &__info {
        padding: 0.4rem;
        font-weight: 600;

        &--title {
            color: $white;
            text-decoration: none;
            font-size: 1rem;
            
            @include media-breakpoint-up(lg) {
                font-size: 1.2rem;

            }
            
        }
        
        &--subtitle {
            color: $gray-600;
            text-decoration: none;
            font-size: .8rem;

            @include media-breakpoint-up(lg) {
                font-size: 1rem;
    
            }
        }
    }
}

// socila media content style 

.footer-sm {
    a {
        color: $white;

        i {
            margin-left: 1rem;
            font-size: 1rem;
            
            @include media-breakpoint-up(sm) {
                font-size: 1.6rem;

            }
            
            &:hover {
                color: $primary;
                @include transitionProperty;
            }
        }
    }
}

.footer-bottom {
    background-color: $black;

    &__copyright {
        color: $gray-600;
        font-weight: 400;

        a {
            color: $gray-300;
            text-decoration: none;

            &:hover {
                color: $primary;
                text-decoration: underline;
                @include transitionProperty;
            }
        }
        
    }
}

//Back to top btn

.back-to-top {
    position: fixed;
    background-color: $primary;
    width: 3rem;
    height: 3rem;
    right: 1.876rem;
    bottom: 1.875rem;
    z-index: 100;

    i {
        color: $white;
        font-size: 1rem;
        @include absoluteCenter;
    }

    // &:hover {
    //     cursor: pointer;
    //   }
    
    //   &:hover .fa-chevron-up {
    //     transform: rotate(180deg);
    //   }
}