@use '../custom' as *;
@use '../components/mixins' as *;
// @use 

.menu {
    @include gradient;

    li {
        padding: 0 0.7rem;

        a {
            color: $white;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}

.navbar-brand {

    img {

        transition: all 1000ms ease-in;

        &:hover {
            animation:animate__bounce ;
        }
    }
}