@use '../custom' as *;

//Gradient mixin
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

//Absolute center
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absoluteCenter2 {
    position: absolute;
    top: 50%;
    right: 24%;
    transform: translate(-50%, -50%);
}

// Transition property

@mixin transitionProperty {
    transition-duration: 1000ms;
    transition-property: all;
}